/venv
/.idea
/.env
**/__pycache__
/Visualization/dist
**/*.json

# Logs
web_front/logs
web_front/*.log
web_front/npm-debug.log*
web_front/yarn-debug.log*
web_front/yarn-error.log*
web_front/pnpm-debug.log*
web_front/lerna-debug.log*

web_front/node_modules
#dist
web_front/dist-ssr
web_front/*.local

# Editor directories and files
web_front/.vscode/*
web_front/!.vscode/extensions.json
web_front/.idea
web_front/.DS_Store
web_front/*.suo
web_front/*.ntvs*
web_front/*.njsproj
web_front/*.sln
web_front/*.sw?

#env
web_front/*.development
